<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrivacyTracking</key>
    <false/>
    <key>NSPrivacyTrackingDomains</key>
    <array/>
    <key>NSPrivacyCollectedDataTypes</key>
    <array/>
    <key>NSPrivacyAccessedApiTypes</key>
    <array>
        <dict>
            <key>NSPrivacyAccessedApiType</key>
            <string>NSPrivacyAccessedApiTypeUserDefaults</string>
            <key>NSPrivacyAccessedApiReasons</key>
            <array>
                <string>CA92.1</string>
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedApiType</key>
            <string>NSPrivacyAccessedApiTypeFileTimestamp</string>
            <key>NSPrivacyAccessedApiReasons</key>
            <array>
                <string>C617.1</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
